@use "./colors.module.scss" as colors;
@import url(./fonts.scss);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Outfit-Regular, sans-serif;
  transition: 300ms ease-in-out;
  min-height: 100%;
}

.light {
  background-color: colors.$grey;
}

.dark {
  background-color: colors.$dark-soft;
}
