@use "../../styles/colors.module.scss" as colors;
@use "../../styles/variables.module.scss" as spaces;
@import url(../../styles/fonts.scss);

.wrapper {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Outfit-Thin;
  top: 0;
  width: 100%;
  padding: 0 spaces.$space-5;
  box-shadow: 0px 0px 3px grey;
  z-index: 2;

  header {
    cursor: pointer;
    display: inline-block;
    font-size: 50px;
    padding-bottom: spaces.$space-1;

    &:hover {
      transition: 100ms ease-in-out;
      color: colors.$primary-green;
    }
  }

  .iconsWrapper {
    display: flex;
    justify-content: space-between;
    min-width: 80px;

    img {
      cursor: pointer;
      transition: 200ms ease-in-out;

      &:hover {
        transform: scale(1.15);
      }
    }
  }
}

.light {
  transition: 300ms ease-in-out;
  background-color: colors.$light;
}

.dark {
  transition: 300ms ease-in-out;
  background-color: colors.$dark;

  header {
    color: colors.$light;
  }
}
